*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
}

#contenedorNav{
    width: 100%;
    height: 15%;
    
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(209, 208, 208);
}

ul li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}
/*buscar y texto*/
#contenedorAll{
    height: 85%;
    width: 100%;
}

#barraBuscar{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: x-large;
}

input{
    width: 70%;
    height: 8%;
    border-radius: 12px;
    border: 1px solid rgb(209, 208, 208);
    box-shadow: 5px 5px 10px 10px rgba(10, 43, 79, 0.4);
}
/*tarjetas*/
#cards{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#card1, #card2, #card3{
    border: 1px solid rgb(209, 208, 208);
    height: 40%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 10px rgba(10, 43, 79, 0.5);
    transition: transform 0.3s ease-in-out;
}

#card1:hover, #card2:hover, #card3:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px 10px rgba(10, 43, 79, 0.7);
    cursor: pointer;
}
/*dialog*/

#modal{
    display: flex;
    justify-self: center;
    align-self: center;
    height: 75%;
    width: 50%;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgb(209, 208, 208);
    box-shadow: 5px 5px 10px 10px rgba(10, 43, 79, 0.2);
}

#modal nav{
    display: flex;
    height: 8%;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 10px;
}

#modal nav button{
    font-weight: bold;
    cursor: pointer;
}

#seccionModal{
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*cards Modal*/

#contDatos{
    height: 30%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#contDatos img{
    height: 25%;
    width: 20%;
}

#contDatos button{
    background-color: rgba(111, 189, 67, 1);
    border-radius: 10px;
    width: 80%;
    border: 1px solid rgb(209, 208, 208) ;
}